* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #262c32 0%, #ff8ab3 100%);
    font-family: "Iceland", cursive, sans-serif;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin: 20px 20px;
}

.cards {
    background: linear-gradient(to right, #99bee2 0%, #ffea8a 100%);
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

img {
    margin: 5px;
    width: 280px;
    height: 240px;
    object-fit: cover;
    border-radius: 4px;
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
    text-align: center;
}

p {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

@media (max-width: 916px) {
    #main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Single column display for small screens */
@media (max-width: 614px) {
    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
